.abmain-img {
  width: 100%;
}
.main-text-about {
  position: absolute;
  top: 35%;
  left: 55%;
  transform: translate(-70%, -50%);
}

.main-text-2-about {
  position: absolute;
  top: 35%;
  left: 55%;
  transform: translate(-70%, -50%);
}

.main-text-fact {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-dark-bg-about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.border-color{
  border-color: #538dd4;
}

@media (min-width: 768px) {
  .main-text-about {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -62%);
  }
  .abmain-img {
    width: 50rem;
    height: 40rem;
  }
}
