.img-div {
    width: 100%;
}
.content-div {
    width: 100%;
}
.hex {
    -webkit-clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

@media (min-width: 768px) {
    .img-div {
        width: 45%;
    }
    .content-div {
        width: 55%;
    }
}
