.heading-block:before {
     content: "";
     position: absolute;
     height: 0.25rem;
     width: 3.125rem;
     bottom: 0;
     left: 50%;
     background-color: #427cc5;
     -webkit-transform: translateX(-50%);
     transform: translateX(-50%);
     z-index: 2;
}