.departments {
    width: 100%;
    box-sizing: border-box;
}
.depMainBack {
    position: relative;
    height: 300px;
    z-index: -1;
}
.depMainImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.depMainOverlay {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    transition: opacity 0.5s ease;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.depMainText {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.depDetail {
    margin: 100px 0;
}
.depDetailContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.depTextHead {
    width: 50%;
    margin: 0 20px;
}
.drTextHead {
    background-image: linear-gradient(120deg, #588325 10%, #588325 100%);
    /* background-image: linear-gradient(
        120deg,
        hsla(224, 78%, 47%, 1) 10%,
        #7193ad 100%
    ); */
    color: #fff;
    padding: 2em, 5em;
    width: 55%;
    margin: 0 20px;
}
.depDetailTitle {
    font-size: 30px;
    font-weight: 700;
    color: #3f0f1e;
}
.depDetailAbout {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin: 20px;
}
.drDetailAbout {
    color: #fff;
    margin: 50px;
}
.depDetailPara {
    font-size: 16px;
    letter-spacing: 0.2px;
    word-spacing: 1.5px;
    color: #000;
}
.depImgWrapper {
    width: 450px;
    position: relative;
}
.depDetailImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* treatment offered */

.treatmentDetails {
    width: 100%;
}
.depMain {
    width: 90%;
    margin: 0 auto;
}
.depMainHead {
    color: #3f0f1e;
    font-size: 30px;
    font-weight: 700;
}
.depMainPara {
    font-size: 18px;
    color: #8ea1ae;
    margin: 15px 0;
}

.treatmentWrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.treatmentCard {
    display: flex;
    width: 350px;
    margin: 15px;
}
.treatmentLogo {
    background: rgb(29, 29, 117);
    width: 30%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.checkLogo {
    width: 1.5em;
    height: 1.5em;
    -webkit-clip-path: polygon(
        20% 0,
        80% 0,
        100% 50%,
        80% 100%,
        20% 100%,
        0 50%
    ) !important;
    clip-path: polygon(
        20% 0,
        80% 0,
        100% 50%,
        80% 100%,
        20% 100%,
        0 50%
    ) !important;
}
/* .logocheck {
    -webkit-clip-path: polygon(
        20% 0,
        80% 0,
        100% 50%,
        80% 100%,
        20% 100%,
        0 50%
    ) !important;
    clip-path: polygon(
        20% 0,
        80% 0,
        100% 50%,
        80% 100%,
        20% 100%,
        0 50%
    ) !important;
} */
.treatmentText {
    width: 80%;
    margin-left: 15px;
}
.treatmentTitle {
    font-size: 18px;
    font-weight: 500px;
}
.drskillTitle {
    font-size: 21px;
    font-weight: 500px;
}
.treatmentAbout {
    font-size: 16px;
    color: #8ea1ae;
    margin: 5px 0;
}

/* Departments Doctors */

.depDoctors {
    margin: 80px 0;
    width: 100%;
}
.depDoctorWrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.depDoctorCard {
    width: 300px;
    margin: 20px 0;
    text-align: center;
}
.depDoctorImg {
    border-radius: 50%;
    border: 1px solid #8ea1ae;
    padding: 5px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.doctorImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.depDoctorName {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}
.depDoctorAbout {
    font-size: 17px;
    color: #8ea1ae;
    margin: 5px 0;
    word-spacing: 1.5px;
}
.depDoctorMob {
    margin: 10px 0;
}
.depBtnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.depDoctorBtn {
    display: block;
    width: 70%;
    text-decoration: none;
    outline: none;
    background: #eff5f9;
    padding: 10px;
    margin: 10px 0;
}

/* Department Banner */
.depBanner {
    width: 100%;
    position: relative;
}
.depBannerImg {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.depBannerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.depBannerText {
    font-size: 22px;
    font-weight: 600;
    color: #427cc5;
}
.depBannerHead {
    font-size: 30px;
    width: 90%;
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
}
.depBannerPara {
    font-size: 18px;
    font-weight: 400;
    width: 60%;
    text-align: center;
}
.depBannerButton {
    background-color: #005000;
    padding: 15px;
    color: #fff;
    width: 250px;
    text-align: center;
    margin: 30px 0;
}
.depBannerBtn {
    text-decoration: none;
    outline: none;
}

@media (max-width: 1100px) {
    .depDetailContainer {
        width: 80%;
        flex-direction: column;
        justify-content: unset;
    }
    .depTextHead {
        width: 100%;
    }
    .drTextHead {
        margin: 0;
        width: 100%;
    }
    .drDetailAbout {
        margin: 10px;
    }
    .depImgWrapper {
        width: 100%;
        height: 300px;
        margin-top: 40px;
    }
    .depTextHead {
        margin: 0px;
    }
}

@media (max-width: 550px) {
    .depBannerImg {
        height: 500px;
    }
    .depBannerPara {
        font-size: 16px;
        width: 80%;
    }
    .depBannerButton {
        padding: 10px;
        width: 200px;
        margin: 20px 0;
    }
    .drTextHead {
        width: 100% !important;
        margin: 0 !important;
    }
}
