.bg-header {
    /* background-color: #ddddad; */
    background-color: #252827;
}

.headerText {
    color: #F8CF2C;
    /* color: #0C2D48; */
}

.titleColor {
    color: #252827;
    /* color: #05445e; */
}

.textColor {
    color: #252827;
    /* color: #1b434d; */
}