.bg-header {
    /* background-color: #ddddad; */
    background-color: #fff;
}

.headerText {
    color: #111;
    /* color: #0C2D48; */
}

.titleColor {
    color: #252827;
    /* color: #05445e; */
}

.textColor {
    color: #252827;
    /* color: #1b434d; */
}

.main-text-fact {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.z-1000{
    z-index: 1000;
}
