/* Disp Compenent */
.depMainHead1 {
    text-align: center !important;
    font-size: 30px;
    font-weight: 700;
}
.depDoctors1 {
    margin: 20px 0 !important;
    width: 100%;
}
.depDoctorWrapper1 {
    width: 100% !important;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.depDoctorCard1 {
    width: 300px;
    height: 100%;
    margin: 20px 0;
    text-align: center;
}
.depDoctorImg1 {
    /* border-radius: 50%; */
    /* border: 1px solid #3c0c1c; */
    padding: 5px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    -webkit-clip-path: polygon(
        20% 0,
        80% 0,
        100% 50%,
        80% 100%,
        20% 100%,
        0 50%
    ) !important;
    clip-path: polygon(
        20% 0,
        80% 0,
        100% 50%,
        80% 100%,
        20% 100%,
        0 50%
    ) !important;
}
.doctorImg1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 50%; */
    -webkit-clip-path: polygon(
        20% 0,
        80% 0,
        100% 50%,
        80% 100%,
        20% 100%,
        0 50%
    ) !important;
    clip-path: polygon(
        20% 0,
        80% 0,
        100% 50%,
        80% 100%,
        20% 100%,
        0 50%
    ) !important;
}
.depDoctorName1 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}
.depDoctorAbout1 {
    font-size: 19px;
    color: #3f0f1e;
    margin: 5px 0;
    word-spacing: 1.5px;
}
.depDoctorMob1 {
    margin: 10px 0;
}
.depBtnWrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}
.depDoctorBtn1 {
    display: block;
    width: 70%;
    text-decoration: none;
    outline: none;
    background: #eff5f9;
    padding: 10px;
    margin: 10px 0;
}
